/*****Serif font used for this project*******/

body, html {
    font-family: serif;
}

/*****Header*******/

.navbar {
    border-bottom: solid 3px #ffa500;
    opacity: 0.8;
}

.navbar .navbar-nav .nav-link {
    color: #fff;
    font-size: 24px;
    
}

.navbar .navbar-nav .nav-link:hover {
    color: #ffa500;
}

.navbar .navbar-nav .nav-item.active .nav-link {
    color: #ffa500;
}

.navbar-toggler-icon {
    color:#fff;
}


/*****Home*******/

.carousel-item {
    padding-top: 0px;
    height: 80vh;
}

#home .change {
    padding-top: 10px;
    color: #ffa500; 
}

#home .color {
    color:#fff;
    text-shadow: 2px 2px 4px #000 ;
    
}

#home .color a {
    color: #fff
}

#home .bg {
    background-color: #ffa500;
    opacity: 0.8;
}
    


.carousel-item .carousel-caption {
    
    color:#ffd700;
}

#span1, #span2, #span3 {
    display: none;
}


/******Experiences******/

#experiences {
    padding-top: 20px;
}

#experiences .orange {
    color: #ffa500;
    margin-top: 80px;
}

.gap {
    margin-top: 20px;
}


/*******Countries*******/
#countries {
    padding-top: 10px;
}

#countries h1 {
    color:#ffa500;
    margin-top: 80px;
    
}

.flag {
    margin: 0;
    padding: 0;
}

.flag li {
    list-style: none;
    height: 33.33vh;
    width: 100vw;
}

#red, #white, #blue {
    height: 100%;
}

#red{
    background-color: #ff0000;
}

#white{
    background-color: #ffffff;
}

#blue{
    background-color: #0000ff;
}

#white{
    display: flex;
    justify-content: center;
    align-items: center;
}

#countries .flag .buffer {
    margin-left: 30px;
}


/*******US*******/

#us {
    padding-top: 10px;
}

#us .carousel-indicators li {
    background-color: #ffa500;
}

#us h1 {
    color: #ffa500;
    margin-top: 80px;
}

.blink {
    margin-top: 50px;
}

#us .carousel-inner {
    margin-bottom: 50px;
}

#us .carousel-indicators {
    margin-bottom: -50px;
}

.text {
    text-align: center;
}

.blink .newColor {
    color:#ffa500;
}



/********Contact*******/

#contact {
    padding-top: 10px;
}

#contact h1 {
    color: #ffa500;
    margin-top: 80px;
}

#contact .space {
    padding-top: 30px;
    padding-bottom: 30px;
}

.map {
    padding-top: 15px;
}

div #map {
min-height: 325px;
}



/******footer******/

footer {
    margin-top: 20px;
    padding: 10px 30px;
    background:#000000;
    opacity: 0.8;
    color: #fff;
    min-height: 150px;
    
}

.connect {
    padding-bottom: 20px;
}

.connect li a i {
    width: 40px;
    height: 40px;
    border-radius: 20%;
    padding: 15px 0;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background:#808080;
    line-height: 10px;
    margin-top: 20px;
    -moz-transition: all 0.45s ease-in-out;
    -webkit-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
}

.connect li a i:hover {
    background:#ffa500;
}

.top-buffer {
    margin-top: 20px;
}

.top-buffer1 {
    margin-top: 5px;
}

footer h1 {
    color:#ffa500;
}


/*********Media Queries*******/


@media (max-width: 399px){
    .carousel-item img {
      height: 100vh;
   }
}

@media (max-width: 1024px) and (min-width: 400px) {
    .carousel-item img {
      background: no-repeat center center fixed; 
      background-size: cover;
      height: 100vh;
    }
}


@media (max-width: 766px) {
     #change img {
      height: 30vh;
   }
     #change .small {
       text-overflow: ellipsis; 
       overflow: hidden;
       white-space: nowrap;
   }
     footer .center ul li{
        margin: 0 auto;
    }
     footer .center h5 {
        display: inline-block;
        text-align: center;
    }
     footer .center img {
         display: flex;
         justify-content: center;
         align-items: center;
         margin: 0 auto;
    }
}


@media (max-width: 1024px) and (min-width: 767px) {
     #change img {
     height: 50vh;
    }
}




