body, html {
    font-family: serif;
}

.navbar {
    border-bottom: solid 3px #ffa500;
    opacity: 0.8;
}

.navbar .navbar-nav .nav-link {
    color: #fff;
    font-size: 24px;
}

.navbar .navbar-nav .nav-link:hover {
    color: #ffa500;
}

/*#navbar_mgs ul li a {*/
/*    color: orange;*/
/*}*/

.navbar-toggler-icon {
    color:#fff;
}


/*****Home*******/

.carousel-item {
    padding-top: 0px;
    height: 650px;
}

.carousel-item img {
  
    
}

/*.carousel-inner .item img { */
/*    width: 100%;*/
/*    height: 700px;*/
/*}*/

#home .change {
    padding-top: 10px;
    color: #ffa500; 
}

#home h2 {
    color: #fff;
}
    


.carousel-item .carousel-caption {
    
    color:#ffd700;
}

#span1, #span2, #span3 {
    display: none;
}


/******Experiences******/

#experiences {
    padding-top: 10px;
}

#experiences .orange {
    color: #ffa500;
}







/*******Countries*******/
#countries {
    padding-top: 10px;
}

#countries h1 {
    color:#ffa500;
}

.flag {
    margin: 0;
    padding: 0;
}

.flag li {
    list-style: none;
    height: 33.33vh;
    width: 100vw;
}

#red, #white, #blue {
    height: 100%;
}

#red{
    background-color: #ff0000;
}

#white{
    background-color: #ffffff;
}

#blue{
    background-color: #0000ff;
}

#white{
    display: flex;
    justify-content: center;
    align-items: center;
}


/*******US*******/

#us {
    padding-top: 10px;
}

#us h1 {
    color: #ffa500;
}

.blink {
    margin-top: 35px;
}




/********Contact*******/

#contact {
    padding-top: 10px;
}

#contact h1 {
    color: #ffa500;
}



/******footer******/

footer {
    margin-top: 20px;
    padding: 10px 30px;
    background:#000000;
    opacity: 0.8;
    color: #fff;
    min-height: 200px;
    
}

.connect {
    padding-bottom: 20px;
}

.connect li a i {
    width: 40px;
    height: 40px;
    border-radius: 20%;
    padding: 15px 0;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background:#808080;
    line-height: 10px;
    margin-top: 20px;
    -moz-transition: all 0.45s ease-in-out;
    -webkit-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
}

.connect li a i:hover {
    background:#ffa500;
}

.top-buffer {
    margin-top: 20px;
}

footer h1 {
    color:#ffa500;
}



